@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css');
:root {
    --site-bg: url(/assets/img/themes/default/darkpattern.jpg);
    --site-bg-size: 600px 300px;
    --cursor: url(/assets/img/cursor.png), auto;
    --cursor-hover: url(/assets/img/link.png), pointer;
    --logo: url(/assets/img/themes/default/logo.png);
    --default-text: #cdcdcd;
    --emphasized-text: #cdcdcd;
    --primary: #e9ed64;
    --secondary: #e38a32;
    --nav-bg: #0f1113;
    --wrapper-bg: #14171A;
    --box-bg: #23272b;
    --header-img: url(/assets/img/themes/default/boogleheader.gif);
    --biblio-img: url(/assets/img/homepage/biblio.gif);
    --quilliam-vis: block;
    --biblio-pos: 3px 22px;
    --contrast-1: #022568;
    --contrast-2: #370653;
    }

    #statuscafe {
        padding: .5em;
        background-image: linear-gradient(to bottom right, rgba(2, 0, 173, 0.8), rgba(0, 0, 34, 0.6));
        border: 3px solid #cdcdcd;
        color: #ffffff;
        border-radius: 10px;
    }

    .toyhouse {
        background-image: url(/assets/img/themes/default/thdefault.png);
    }

    .artfight {
        background-image: url(/assets/img/themes/default/ahdefault.png);
    }

    .instagram {
        background-image: url(/assets/img/themes/default/instadefault.png);
    }

    .tumblr {
        background-image: url(/assets/img/themes/default/tmblrdefault.png);
    }

    .bluesky {
        background-image: url(/assets/img/themes/default/bskydefault.png);
    }

    .kofi {
        background-image: url(/assets/img/themes/default/kofidefault.png);
    }

    .neocities {
        background-image: url(/assets/img/themes/default/neocitiesdefault.png);
    }

    .chunk-img {
        background-image: url(/assets/img/homepage/Biblio_brown.png);
    }

    @keyframes animatedBackground {
        from {
          background-position: 0 0;
        }
        to {
          background-position: 600px 300px;
        }
      }